.rinInViewInspector {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 65535;
  font-size: 16px;

  text-align: initial;
  color: #fff;
  background: none;
}
.rinInViewInspector table,
.rinInViewInspector table tr,
.rinInViewInspector table tr td,
.rinInViewInspector table tr th {
  border: none;
  margin: 0;
  padding: 0;
  background: initial;
  text-align: initial;
}

.rinInViewInspector a {
  color: #fff;
  text-decoration: none;
  border: none;
}

.rinInViewInspector.positionBottom {
  top: initial;
  bottom: 0;
}

.rinInViewInspector h1 {
  margin: 0.5em 0;
  padding: 0;
  font-size: 1em;
  font-weight: bold;
}

.hud {
  background-color: #4e5584;
  background-image: linear-gradient(to bottom, #79a7c9 0%,#79a7c9 25%,#9ec7be 26%,#9ec7be 50%,#f3e2cd 51%,#f3e2cd 75%,#c55056 76%);
  background-size: 4px 100%;
  background-repeat: no-repeat;
  background-position: left bottom;
  
  padding: 0 0 0 4px;

  color: #eee;
  font-size: 0.9em;
  font-weight: normal;
  font-family: 'Segoe UI', sans-serif;
}
.hud label {
  display: block;
  margin: 0;
  padding: 0.5em 0.5em;
  cursor: pointer;
  font-weight: normal;
  color: #eee;
}

.hud input.isVisible { display: none; }
.hud input.isVisible + .detail { display: none; }
.hud input.isVisible:checked + .detail { display: block; }

.detail {
  position: absolute;
  top: 0;
  left: 100%;
  box-sizing: border-box;
  min-width: 50vw;
  max-height: 50vh;
  overflow: auto;
  padding: 0.5em 1em;
  background-color: #4e5584;
  color: #eee;
}
.rinInViewInspector.positionBottom .detail {
  top: initial;
  bottom: 0;
}

.detail_timestamp {
  font-size: 0.75em;
  color: #ccc;
}

.openInRin {
  text-align: right;
  margin-top: 0.25em;
}
.openInRin a {
  color: #fff;
}
.openInRin a::after {
  content: '»';
}

.timeline {
  margin-top: 1em;
  font-size: 0.75em;
}
.timeline table {
  width: 100%;
  color: #eee;
  background: transparent;
  border: none;
}
.timeline table tr th {
  color: #ccc;
  font-weight: normal;
  text-align: right;
}
.timeline table tr td:not(:first-child) {
  text-align: right;
}

.subRequests {
}
.subRequests h2 {
  font-weight: bold;
  font-size: 1em;
  margin: 0.5em 0 0.25em 0;
  padding: 0.25em 0 0 0;
  border-top: 1px solid #fff;
}
.subRequests table {
  font-size: 0.75em;
  width: 100%;
  background: transparent;
  border: none;
}
.subRequests table td:nth-child(2) {
  text-align: right;
}
.subRequests table td a {
  display: block;
}