.rinOnViewInspector {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 65535;
  font-size: 16px;
}
.rinOnViewInspector table,
.rinOnViewInspector table tr,
.rinOnViewInspector table tr td,
.rinOnViewInspector table tr th {
  border: none;
  margin: 0;
  padding: 0;
  background: initial;
}

.rinOnViewInspector.positionBottom {
  top: initial;
  bottom: 0;
}

.hud {
  background-color: #4e5584;
  background-image: linear-gradient(to bottom, #79a7c9 0%,#79a7c9 25%,#9ec7be 26%,#9ec7be 50%,#f3e2cd 51%,#f3e2cd 75%,#c55056 76%);
  background-size: 4px 100%;
  background-repeat: no-repeat;
  background-position: left bottom;
  
  padding: 0 0 0 4px;

  color: #eee;
  font-size: 0.9em;
  font-weight: normal;
  font-family: 'Segoe UI', sans-serif;
}
.hud label {
  display: block;
  margin: 0;
  padding: 0.5em 0.5em;
  cursor: pointer;
  font-weight: normal;
  color: #eee;
}

.hud input.isVisible { display: none; }
.hud input.isVisible + .detail { display: none; }
.hud input.isVisible:checked + .detail { display: block; }

.detail {
  position: absolute;
  top: 0;
  left: 100%;
  box-sizing: border-box;
  min-width: 50vh;
  max-height: 50vh;
  overflow: auto;
  padding: 0.5em 1em;
  background-color: #4e5584;
  color: #eee;
}
.rinOnViewInspector.positionBottom .detail {
  top: initial;
  bottom: 0;
}

.detail_timestamp {
  font-size: 0.75em;
  color: #ccc;
}

.timeline {
  margin-top: 1em;
  font-size: 0.75em;
}
.timeline table {
  width: 100%;
  color: #eee;
}
.timeline table tr th {
  color: #ccc;
  font-weight: normal;
  text-align: right;
}
.timeline table tr td:not(:first-child) {
  text-align: right;
}