.keyValueDetailListCell_Command {
    display: inline-flex;
    height: 100%;
    opacity: 0;
}
.keyValueDetailListCell_Command > :global(.ms-Button) {
    margin-top: -6px;
    margin-bottom: -6px;
}
.keyValueDetailListCell_Command > :global(.ms-Button) :global(.ms-Button-menuIcon) {
    display: none;
}
:global(.ms-DetailsRow):hover .keyValueDetailListCell_Command {
    opacity: 1;
}