.inspectorDetail_ExceptionView h2 {
    margin: 12px 0 0 0;
}
.inspectorDetail_ExceptionView pre {
    overflow: auto;
    font-family: 'Consolas', monospace;
    font-size: 0.85rem;
    line-height: 1.6;
    margin: 12px 0 0 0;
}
