.inspectorDetailTimelineView {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.inspectorDetailTimelineView_Commands {
  margin: 0 16px;
}

.timeline {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;

  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 24px 1fr;
}
.timeline_header {
  display: grid;
  grid-template-columns: 200px repeat(10, 1fr);
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column: 1;
  height: 100%;
}
.timeline_headerColumn {
  font-size: 0.75rem;
  text-align: left;
  border-left: 1px solid #eee;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}
.timeline_headerColumn > span {
  padding: 0.25rem;
  border-bottom: 1px solid #555;
}

.timeline_spans {
  grid-row: 2;
  grid-column: 1;
}
.timelineSpan {
  border-bottom: 1px solid #eee;
  box-sizing: border-box;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 200px auto;
}
.timelineSpan:nth-child(2n) {
  background: #efefef;
}
.timelineSpan_name {
  font-size: 0.75rem;
  font-weight: bold;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 4px;
}
.timelineSpan_bar {
  border: 1px solid #555;
  background-color: #555;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 6px;
  border-radius: 2px;
}
.timelineSpan_name::before {
  content: '';
  border: 12px solid #555;
  border-width: 6px 3px;
  border-radius: 3px;
  display: inline-block;
  margin-right: 4px;
}

.timelineSpan_point {
  border: 1px solid #555;
  background-color: #555;
  box-sizing: border-box;
  margin-top: 8px;
  margin-bottom: 8px;
  border-radius: 2px;
  width: 8px;
  height: 8px;
  border-radius: 6px;
}

.timelineSpan[data-rin-timeline-category='Rin.Timeline.Data'] .timelineSpan_name::before,
.timelineSpan[data-rin-timeline-category='Rin.Timeline.Data'] .timelineSpan_bar {
    border-color: #c55056;
    background-color: #c55056;
}
.timelineSpan[data-rin-timeline-category^='Rin.Timeline.AspNetCore.'] .timelineSpan_name::before,
.timelineSpan[data-rin-timeline-category^='Rin.Timeline.AspNetCore.'] .timelineSpan_bar {
    border-color: #79a7c9;
    background-color: #79a7c9;
}
.timelineSpan[data-rin-timeline-category^='Rin.Timeline.AspNetCore.Mvc.'] .timelineSpan_name::before,
.timelineSpan[data-rin-timeline-category^='Rin.Timeline.AspNetCore.Mvc.'] .timelineSpan_bar {
    border-color: #9ec7be;
    background-color: #9ec7be;
}

.timelineSpan[data-rin-timeline-category='Rin.Timeline.Trace'] .timelineSpan_name::before {
  border-width: 3px 3px;
}
.timelineSpan[data-rin-timeline-category='Rin.Timeline.Trace'][data-rin-timeline-name='Trace'] .timelineSpan_name::before,
.timelineSpan[data-rin-timeline-category='Rin.Timeline.Trace'][data-rin-timeline-name='Trace'] .timelineSpan_point,
  .timelineSpan[data-rin-timeline-category='Rin.Timeline.Trace'][data-rin-timeline-name='Debug'] .timelineSpan_name::before,
  .timelineSpan[data-rin-timeline-category='Rin.Timeline.Trace'][data-rin-timeline-name='Debug'] .timelineSpan_point {
    border-color: #ccc;
  background-color: #ccc;
}
.timelineSpan[data-rin-timeline-category='Rin.Timeline.Trace'][data-rin-timeline-name='Information'] .timelineSpan_name::before,
.timelineSpan[data-rin-timeline-category='Rin.Timeline.Trace'][data-rin-timeline-name='Information'] .timelineSpan_point {
  border-color: #aaa;
  background-color: #aaa;
}
.timelineSpan[data-rin-timeline-category='Rin.Timeline.Trace'][data-rin-timeline-name='Warning'] .timelineSpan_name::before,
.timelineSpan[data-rin-timeline-category='Rin.Timeline.Trace'][data-rin-timeline-name='Warning'] .timelineSpan_point {
  border-color: #e0ad06;
  background-color: #e0ad06;
}
.timelineSpan[data-rin-timeline-category='Rin.Timeline.Trace'][data-rin-timeline-name='Error'] .timelineSpan_name::before,
.timelineSpan[data-rin-timeline-category='Rin.Timeline.Trace'][data-rin-timeline-name='Error'] .timelineSpan_point,
.timelineSpan[data-rin-timeline-category='Rin.Timeline.Trace'][data-rin-timeline-name='Critical'] .timelineSpan_name::before,
.timelineSpan[data-rin-timeline-category='Rin.Timeline.Trace'][data-rin-timeline-name='Critical'] .timelineSpan_point {
  border-color: #a80000;
  background-color: #a80000;
}

.timelineCalloutContent {
  margin: 0.83em 12px;
}
.timelineCalloutContent h2 {
  font-weight: 600;
}
.timelineCalloutContent_data {
  max-width: 70vw;
  white-space: pre-wrap;
}