.inspectorDetailTraceView {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.inspectorDetailTraceView_Commands {
  margin: 0 16px;
}
.inspectorDetailTraceView_Commands :global(.ms-Toggle) {
  display: inline-block;
}
.inspectorDetailTraceView_Commands :global(.ms-Toggle) label {
  display: inline-block;
  vertical-align: top;
  margin-right: 8px;
}
