.inspectorFrame {
  height: calc(100vh - 46px);
  border: 1px solid transparent;
  overflow: hidden;
  box-sizing: border-box;

  grid-column: 1;
  grid-row: 2;

  position: relative;
}
.inspectorFrame > .splitter-layout > .layout-pane:nth-child(3) {
  overflow: hidden;
}

.inspectorFrame .leftPane {
  display: grid;
  grid-template-rows: auto 1fr;
}
.inspectorFrame .rightPane {
  overflow: hidden;
  height: 100%;
}

.inspectorEventsItem_ReceivedAt {
  font-size: 0.7rem;
  color: #999;
}