.inspectorDetail {
    display: grid;
    grid-template-rows: auto auto 1fr;
    height: 100%;
}

.inspectorDetail_Pivot {
    padding: 0 12px;
}
.inspectorDetail_DetailView {
    overflow: hidden;
}
.inspectorDetail_TraceView {
    overflow: hidden;
    height: 100%;
}
.inspectorDetail_RequestResponseView {
    overflow: auto;
}
.inspectorDetail_ExceptionView {
    overflow: auto;
    padding: 0 12px;
    height: 100%;
}
