.inspectorDetail {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100%;
}

.inspectorDetail_Pivot {
    padding: 0 12px;
}
.inspectorDetail_DetailView {
    overflow: hidden;
}
.inspectorDetail_TraceView {
    overflow: hidden;
    height: 100%;
}
.inspectorDetail_RequestResponseView {
    overflow: auto;
}
.inspectorDetail_ExceptionView {
    overflow: auto;
    padding: 0 12px;
    height: 100%;
}

.inspectorDetailDeleted {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.inspectorDetailDeleted::after {
    content: ':-(';
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    font-size: 10rem;
    color: #eee;
}
.inspectorDetailDeleted_Content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inspectorDetailDeleted_Content .inspectorDetailDeletedContent_Icon {
    width: 32px;
    height: 32px;
    font-size: 32px;
}