name: Build-Development

on:
  push:
    branches:
      - master
  pull_request:
    types:
      - opened
      - synchronize

jobs:
  build:

    runs-on: ubuntu-latest
    env:
      DOTNET_NOLOGO: true
    
    steps:
    - uses: actions/checkout@v1

    - uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '5.0.x'

    - name: "Set VersionSuffix"
      run: |
        echo "VERSION_SUFFIX=preview.`date '+%Y%m%d-%H%M%S'`+${GITHUB_SHA:0:6}" >> $GITHUB_ENV

    - name: "Get git tag"
      if: "contains(github.ref, 'refs/tags')"
      run: echo "GIT_TAG=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV

    - name: "Rin.Frontend: build & pack"
      working-directory: src/Rin.Frontend
      run: |
        yarn
        yarn run build
        yarn run pack

    - name: "Rin.Mvc.Frontend: build"
      working-directory: src/Rin.Mvc.Frontend
      run: |
        yarn
        yarn run build

    - name: Copy Rin.Mvc.Frontend
      run: |
        mkdir -p src/Rin.Mvc/EmbeddedResources/
        cp -R src/Rin.Mvc.Frontend/dist/static/* src/Rin.Mvc/EmbeddedResources/

    - name: "dotnet build & pack"
      run: |
        dotnet restore
        dotnet build -c Release
        dotnet pack -c Release -o $GITHUB_WORKSPACE/artifacts --version-suffix "$VERSION_SUFFIX" -p:IncludeSymbols=true -p:SymbolPackageFormat=snupkg

    - uses: actions/upload-artifact@master
      with:
        name: Packages
        path: artifacts
